{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}{{user.username}}'s Library{% endblock %}
{% block content %}

<h2 class="library-head">Your Photos</h2>
{% for photo in object_list %}
    <div class="library-photo-container library-thumb-list">
        <div>
            <a href="/images/photos/{{ photo.pk }}">
                <img src="{{ photo.image.url }}" class="library-thumb" />
            </a>
            <br/>
        </div>
        <div>
            <span>{{ photo.title }}</span>
        </div>
    </div>
{% empty %}
    <div class="library-thumb-list">
        No photos yet.
    </div>
{% endfor %}
    <div class="library-photo-container library-thumb-list new-photo-btn">
        <a href="{% url 'images:create_single_photo' %}"><div> Add a New Photo </div></a>
    </div>

<h2 class="library-head">Your Albums</h2>
{% for album in album_list %}
    <a href="/images/albums/{{ album.pk }}">
        <img src="../{{default_cover}}" width="400"/>
    </a>
{% empty %}
    You don't have any albums yet!
{% endfor %}

{% endblock %}